<div class="col-md-6 col-md-offset-3">
  <div class="box box-solid">
    <div class="box-header with-border">
      New Collection Details
    </div>
    <div class="box-body">
      <%= simple_form_for @entry, url: :collections, html: { style: "display:inline;" } do |f| %>
        <%=f.error_notification %>
        <div class="row">
          <div class="col-md-6">
            <%=f.input :date, as: :string, input_html: { class: "datepicker" } %>
          </div>
          <div class="col-md-6">
            <%=f.input :reference_number, label: "OR Number" %>
          </div>
        </div>
        <%=f.input :entriable_type, input_html: {value: "Taxpayer" }, as: :hidden %>
        <%=f.input :entriable_id, label: "Taxpayer", collection: Taxpayer.all.map{|a| [a.first_name_and_last_name, a.id]} %>
        <%=f.input :description %>
        <%=f.simple_fields_for :debit_amounts do |ff| %>
          <%=ff.input :amount %>
          <div class="row">
            <div class="col-md-12">
              <%=ff.input :account, input_html: {value: "Cash - Local Treasury"} %>
            </div>
          </div>
        <% end %>
    <%=f.simple_fields_for :credit_amounts do |ff| %>
    <%=ff.input :amount%>
    <%=ff.input :account, collection: Accounting::Account.all.pluck(:name) %>
    <% end %>
    <div class="modal-footer">
      <%= f.submit class: "btn btn-primary" %>
      <%= link_to "Cancel", "#", class: "btn pull-left", data: {dismiss: "modal"} %>
    </div>
  <% end %>
  </div>
</div>
</div>
</div>
<script>
$("#accounting_entry_credit_amounts_attributes_0_account").select2({
    theme: "bootstrap",
    placeholder: 'Select Account',
    width: '100%',
    dropdownAutoWidth : true
  });
  $("#accounting_entry_entriable_id").select2({
      theme: "bootstrap",
      placeholder: 'Select Taxpayer',
      width: '100%',
      dropdownAutoWidth : true
    });
</script>
