<div class="row">
  <div class="col-md-12">
  <div class="box box-solid">
    <div class="box-header">
      <div class="row">
        <div class="col-md-3">
          <h4>Businesses</h4>
        </div>
        <div class="col-md-6">
          <%=form_tag businesses_path, method: :get, class: "search-form" do %>
            <div class="input-group">
              <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search..." %>
              <span class="input-group-btn">
                <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
                  <i class="fa fa-search"></i>
                <% end %>
              </span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="box-body">
<div class="table table-responsive">
<table class="table table-hover">

  <tbody>
    <% @businesses.each do |business| %>
      <tr>
        <td><%= link_to business.name.try(:upcase), business %>
            <small class="help-block">
              <i class="icon-user"></i> <%=business.taxpayer_name %> &nbsp;
              <i class="icon-location-pin"></i> <%= business.current_address%> &nbsp;
              <i class="icon-layers"></i> <%= business.business_classification_name.try(:truncate, 50) %>
            </small>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="box-footer">
  <center><%=paginate @businesses %> </center>

<br>
