<div class="row">
  <%=render "settings/partials/sidebar" %>
  <div class="col-md-9">
    <div class="box box-danger">
      <div class="box-body">
        <i class="icon-layers"></i><h4 class="box-title"> Lines of Business and Corresponding Mayors Permit Fees </h4>
        <span class="pull-right">
          <%=link_to new_settings_line_of_business_classification_path do %>
            <btn class="btn btn-danger btn-icon"><i class="fa fa-plus-circle"></i> New Classification</btn>
          <% end %>
          <%=link_to new_settings_line_of_business_path do %>
            <btn class="btn btn-default btn-icon"><i class="fa fa-plus-circle"></i> </btn>
          <% end %>
        </span>
      </div>
      <div class="box-body">
        <% LineOfBusinessClassification.all.each do |line_of_business_classification| %>
          <div class="row">
            <div class="col-md-12">
              <strong><%=line_of_business_classification.name %></strong><br>
              <% line_of_business_classification.line_of_businesses.each do |line_of_business| %>
                <div class="row">
                  <div class="col-md-6 col-md-offset-1">
                    <span class="text-muted"> <%=line_of_business.name %></span>
                  </div>
                  <div class="col-md-3">
                    <p class="pull-right text-muted"><%=number_to_currency line_of_business.mayors_permit_fee_amount %></p>
                  </div>
                  <div class="col-md-2">
                    <%=link_to edit_settings_line_of_business_path(line_of_business) do %>
                    <span class="text-danger" title="Edit" data-toggle="tooltip"><i class="fa fa-pencil"></i></span>
                    <% end %>
                  </div>
                </div>
                <hr>
              <% end %>
            </div>
          </div>
          <br>
          <br>
        <% end %>
      </div>
    </div>
  </div>
</div>
