<div class="row">
  <%=render "settings/partials/sidebar" %>
  <div class="col-md-9">
    <div class="box box-solid">
      <div class="box-header with-border">
        <h4 class="box-title"> Account Settings </h4>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-3">
            <%=image_tag @municipality.logo.url(:thumb) %>
          </div>
          <div class="col-md-9">
            <h4 class="box-title"> Municipality of <%=@municipality.name %> </h4>
            <%=link_to 'Update', edit_settings_municipality_path(@municipality) %>
          </div>
        </div>
        <hr>

            <div class="row">
              <div class="col-md-3">
                <%=image_tag @municipality.mayor.photo.url(:thumb), class: "img-circle" %>
              </div>
              <div class="col-md-9">
                <h4 class="box-title"> <%=@municipality.mayor_full_name.try(:upcase) %></h4>
                <p class="text-muted"> Municipal Mayor </p>
                <%=link_to 'Update', edit_settings_municipality_path(@municipality) %>
              </div>
            </div>
          </div>
          <div class="col-md-4 border-left col-md-offset-1">
            <h4><span class="badge"><%=Addresses::Barangay.count %></span> Barangays  </h4>
            <hr>
            <% Addresses::Barangay.all.each do |barangay| %>
              <p><%=barangay.name %></p>
            <% end %>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="box box-default">
        <div class="box-header with-border">
          <h4 class="box-title"> Mode of Payment Settings </h4>
          <%=link_to new_settings_mode_of_payment_path do %>
          <span class="btn btn-danger"><i class="fa fa-rub"></i> New Mode of Payment </span>
          <% end %>
        </div>
        <div class="box-body">
          <% @mode_of_payments.each do |mode_of_payment| %>
          <p class="text-muted"><%=mode_of_payment.name %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
