<div class="row">
  <%=render "settings/partials/sidebar" %>
  <div class="col-md-9">
    <div class="box box-solid">
      <div class="box-header with-border">
        <h4 class="box-title"> Account Settings </h4>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-5">
            <center><%=image_tag @municipality.logo.url(:thumb) %></center><br>
            Municipality of <%=@municipality.name %>
            <%=link_to 'Update', edit_settings_municipality_path(@municipality) %>
            <h4 class="box-title"> Mayor
            <%=link_to new_settings_municipality_mayor_path(@municipality) do %>
              <span class="btn btn-default pull-right" title="Add Mayor Details" data-toggle="tooltip"><i class="fa fa-user-plus"></i></span>
            <% end %>
            </h4>
            <%=@municipality.mayor_full_name %>
          </div>
          <div class="col-md-5">
            <h4>Barangays </h4>
            <hr>
            <% Barangay.all.each do |barangay| %>
              <p><%=barangay.name %></p>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>
