<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="box box-solid">
			<div class="box-header">
				<h4>Entry Details</h4>
					<div class="pull-right">
				  	<ul class="nav navbar-nav">
				      <li class="dropdown">
				        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> <b class="caret"></b></a>
				        <ul class="dropdown-menu dropdown-menu-right">
				          <li><%=link_to 'Delete', accounting_entry_path(@entry), method: :delete, data: {confirm: 'Are you sure?'} %></li>
				        </ul>
				      </li>
				    </ul>
				  </div>
				</h4>
			</div>
			<div class="box-body">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<p><strong>Recipient</strong></p>
						<span>&nbsp &nbsp &nbsp<%=@entry.commercial_document.try(:name) %></span><br>
							<hr>
						<p><strong>Description</strong></p>
						<hr>
					<span>&nbsp &nbsp &nbsp<%=@entry.description %></span><br>



						<p><strong>Date</strong></p>
						<span>&nbsp &nbsp &nbsp<%=@entry.date.strftime("%B %e, %Y") %></span>

						<hr>

						<p><strong>Reference Number</strong></p>
						<span>&nbsp &nbsp &nbsp<%=@entry.reference_number%></span>

						<hr>

						<p><strong>Debited Account(s)</strong></p>
						<%@entry.debit_amounts.each do |d|%>
							<div class="row">
								<div class="col-md-12">
									&nbsp &nbsp &nbsp<%=d.account.name %><span class="pull-right"><%=number_to_currency d.amount %></span>
								</div>
							</div>
						<%end %>

						<hr>

						<p><strong>Credited Account(s)</strong></p>
						<%@entry.credit_amounts.each do |d|%>
							<div class="row">
								<div class="col-md-12">
									&nbsp &nbsp &nbsp<%=d.account.name %> <span class="pull-right"><%=number_to_currency d.amount %></span>
								</div>
							</div>
						<% end %>
						<br>
						<div class="modal-footer">
							<%= link_to "Cancel", accounting_entries_path, class: 'btn btn-xs pull-left' %>
							<%=link_to "Edit Entry", edit_accounting_entry_path(@entry), class: "btn btn-primary" %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
