<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="box-header with-border">
        <%= link_to "New Account", new_accounting_account_path, class: "btn btn-primary pull-right" %>
      </div>
      <div class="box-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Type</th>
            <th> Debits Balance </th>
            <th> Credits Balance </th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody class="entry-index">
          <% @accounts.each do |account| %>
            <tr>
              <td><%= account.code %></td>
              <td><%= account.name %></td>
              <td><%= account.type.gsub('Accounting::', '') %></td>
              <td><span class="pull-right"> <%= number_to_currency account.debits_balance %></span> </td>
              <td><span class="pull-right"> <%= number_to_currency account.credits_balance %></span> </td>

            </tr>
          <% end %>

        </tbody>
      </table>
      <center><%=paginate @accounts %></center>
    </div>
  </div>
</div>
