<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="box-header with-border">
        Assessment Details
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-6">
            <p class="header-title"> Local Taxes </p>
            <div class="row">
              <div class="col-md-1">
              </div>
              <div class="col-md-8">
                Gross Sales Tax
              </div>
              <div class="col-md-3">
                <span class="pull-right">
                  <%=@business.gross_sales.for_prev_year.try(:tax) %>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-header">
<h3 class="title">New Entry</h3>
</div>
<div class="modal-dialog">
  <div class="modal-content">
    <%= simple_form_for @entry, remote: true, html: { style: "display:inline;" } do |f| %>
    <div class="modal-body">
      <ul class="errors text-danger">
      </ul>
<div class="row">
  <div class="col-md-6">
        <%=f.input :date, as: :string, input_html: { class: "datepicker" } %>
</div>
<div class="col-md-6">
<%=f.input :reference_number %>

</div>
</div>
          <%=f.input :description %>

    <%=f.simple_fields_for :debit_amounts do |ff| %>
    <%=ff.input :amount %>
    <div class="row">
      <div class="col-md-12">
    <%=ff.input :account, collection: Accounting::Account.all.pluck(:name), input_html: {class: 'input-medium'} %>
  </div>
</div>
    <% end %>
    <%=f.simple_fields_for :credit_amounts do |ff| %>
    <%=ff.input :amount %>
    <%=ff.input :account, collection: Accounting::Account.all.pluck(:name) %>
    <% end %>
    <div class="modal-footer">
      <%= f.submit class: "btn btn-primary" %>
      <%= link_to "Cancel", "#", class: "btn pull-left", data: {dismiss: "modal"} %>
    </div>
  <% end %>
  </div>
</div>
