<div class="row">
<div class="col-md-12">
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#businesses" data-toggle="tab">Account</a></li>
      <li><a href="#timeline" data-toggle="tab">Real Properties</a></li>
      <li><a href="#fees" data-toggle="tab"><i class="fa fa-rub"> </i> &nbsp; Fees</a></li>
      <li><a href="#settings" data-toggle="tab">Activity Logs</a></li>
      <li><a href="#settings" data-toggle="tab">Settings</a></li>


    </ul>
    <div class="tab-content">
     <%=render 'settings/partials/fees' %>
    </div>
    <!-- /.tab-content -->
  </div>
  <!-- /.nav-tabs-custom -->
</div>
<!-- /.col -->
</div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="box box-default">
      <div class="box-header with-border">
        <i class="icon-location-pin"></i> Barangays &nbsp; <span class="label label-default"><%=Barangay.count %></span>
        <span class="pull-right">
          <%=link_to new_settings_barangay_path do %>
            <btn class="btn btn-default btn-icon" title="New Barangay" data-toggle="tooltip"><i class="fa fa-plus-circle"></i> </btn>
          <% end %>
      </div>
      <div class="box-body">
        <% Barangay.all.each do |barangay| %>
          <p><%=barangay.name %></p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="box box-solid">
      <div class="box-body">
        <i class="icon-people"></i> Employees
        <span class="pull-right">
          <%=link_to new_settings_employee_path do %>
            <btn class="btn btn-danger btn-flat"><i class="fa fa-user-plus"></i> New Employee </btn>
          <% end %>
        </span>
        <hr>
        <% User.all.each do |user| %>
        <%=link_to settings_employee_path(user) do  %>
          <div class="row">
            <div class="col-md-3">
              <%=image_tag(user.photo.url(:small), class: "img-square") %>
            </div>
            <div class="col-md-9">
              <strong><%=user.first_name_and_last_name.try(:titleize) %></strong>
                <small class="help-block"><%=user.role.try(:titleize).try(:upcase) %></small>
            </div>
          </div>
          <br>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="box box-solid">
      <div class="box-body">
        <i class="icon-equalizer"></i> Municipality Settings
        <hr>
        Municipality <%=Municipality.last.try(:name) %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="box box-danger">
      <div class="box-body">
        <i class="icon-layers"></i> Lines of Business and Corresponding Mayors Permit Fees
        <span class="pull-right">
          <%=link_to new_settings_line_of_business_classification_path do %>
            <btn class="btn btn-danger btn-icon"><i class="fa fa-plus-circle"></i> New Classification</btn>
          <% end %>
          <%=link_to new_settings_line_of_business_path do %>
            <btn class="btn btn-default btn-icon"><i class="fa fa-plus-circle"></i> </btn>
          <% end %>
        </span>
      </div>
      <div class="box-body">
        <% LineOfBusinessClassification.all.each do |line_of_business_classification| %>
          <div class="row">
            <div class="col-md-12">
              <strong><%=line_of_business_classification.name %></strong><br>
              <% line_of_business_classification.line_of_businesses.each do |line_of_business| %>
                <div class="row">
                  <div class="col-md-6 col-md-offset-1">
                    <span class="text-muted"> <%=line_of_business.name %></span>
                  </div>
                  <div class="col-md-3">
                    <p class="pull-right text-muted"><%=number_to_currency line_of_business.mayors_permit_fee_amount %></p>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<div class="row">
  <div class="col-md-6">
    <div class="box box-default">
      <div class="box-header with-border">
        <i class="icon-layers"></i> Business Classifications
        <span class="pull-right">
          <%=link_to new_settings_business_classification_path do %>
            <btn class="btn btn-danger btn-flat"><i class="icon-plus"></i> New Business Classification</btn>
          <% end %>
        </span>
      </div>
      <div class="box-body">
        <% BusinessClassification.all.order(:name).each do |business_classification| %>
        <div class="row">
          <div class="col-md-9">
            <p class="text-muted"><%= business_classification.name%></p>
          </div>
          <div class="col-md-2">
            <span class="pull-right">
              <%=link_to edit_settings_business_classification_path(business_classification) do %>
                <span title="Edit Business Classification" data-toggle="tooltip"><i class="icon-note"></i></span>
              <% end %>
            </span>
          </div>
        </div>
        <br>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="box box-default">
      <div class="box-header with-border">
        <h4 class="box-title"> Mode of Payment Settings </h4>
        <%=link_to new_settings_mode_of_payment_path do %>
        <span class="btn btn-danger"><i class="fa fa-rub"></i> New Mode of Payment </span>
        <% end %>
      </div>
      <div class="box-body">
      </div>
    </div>
  </div>
</div>
