<div class="row">
  <div class="col-md-8">
    <div class="box box-primary">
      <div class="box-body">
        <div class="row">
          <div class="col-md-3">
            <h4 class="title">Taxpayers</h4>
          </div>
          <div class="col-md-6">
            <%=form_tag taxpayers_path, method: :get, class: "search-form" do %>
              <div class="input-group">
                <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search..." %>
                <span class="input-group-btn">
                  <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
                    <i class="fa fa-search"></i>
                  <% end %>
                </span>
              </div>
            <% end %>
          </div>
          <div class="col-md-3">
            <%= link_to new_taxpayer_path do %>
              <span class="btn btn-primary btn-flat pull-right"><i class="fa fa-user-plus"></i> New Taxpayer </span>
              <% end %>
          </div>
        </div>
      </div>
      <div class="box-body">
        <% @taxpayers.each do |taxpayer| %>
          <%=link_to taxpayer do %>
            <div class="row">
              <div class="col-md-1">
                <%=image_tag(taxpayer.photo.url(:small), class: "img-square") %>
              </div>
              <div class="col-md-10">
                <%= taxpayer.full_name.try(:upcase) %>
                <small class="help-block">
                  <i class="fa fa-phone"></i> &nbsp; <%=taxpayer.mobile_number %> &nbsp;
                  <i class="icon-speech"></i> &nbsp; <%=taxpayer.email %> &nbsp;
                  <i class="icon-location-pin"></i> &nbsp; <%=taxpayer.current_address.try(:address_details) %>
                </small>
              </div>
              <div class="col-md-1">
                <i class="icon-options-vertical"></i>
              </div>
            </div>
          <% end %>
          <br>
        <% end %>
        <div class="box-footer">
          <center><%= paginate @taxpayers, params: { controllers: "taxpayers", action: "index" } %></center>
        </div>
      </div>
    </div>
  </div>
<div class="col-md-4">
  <div class="box box-default">
    <div class="box-header">
      <i class="icon-graph"></i> Statistics
    </div>
    <div class="box-body">
      <div class="box-header">
                <div class="row">
                  <div class="col-sm-12 col-xs-12">
                    <div class="description-block">
                      <h5 class="description-header"><%= Taxpayer.count %></h5>
                      <span class="description-text">TOTAL TAXPAYERS</span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                  <div class="col-sm-6 col-xs-6">
                    <div class="description-block border-right">


                      <h5 class="description-header"><%=@taxpayers.male.count %></h5>
                      <span class="description-text">MALE</span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                  <!-- /.col -->
                  <div class="col-sm-6 col-xs-6">
                    <div class="description-block border-right">

                      <h5 class="description-header"><%=@taxpayers.female.count %></h5>
                      <span class="description-text">FEMALE</span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                  <!-- /.col -->

                  <!-- /.col -->

                </div>
                <!-- /.row -->
              </div>
    </div>
</div>
</div>
