<div class="tab-pane" id="taxes-and-fees">
  <%=link_to "New Assessment", new_business_assessment_path(@business), class: "btn btn-primary" %>
  <p> Taxes </p>
    Business Tax <% @business.gross_sales.with_unpaid_tax.each do |gross_sale| %>
    <%=gross_sale.amount %>
    <%=gross_sale.calendar_year.year %>
    <%= gross_sale.tax %>
    <% end %>
  <hr>
  <p> Fees </p>
  Mayors Permit Fee <%=number_to_currency @business.mayors_permit_fees.total %> <br>
  <% @business.mayors_permit_fees.each do |mayors_permit_fee| %>
  <%=mayors_permit_fee.feeable.try(:name) %>
  <%=mayors_permit_fee.amount %>
  <% end %>
  <hr>
  Police Clearance Fee
</div>
